.App {
  background-color: #fff;
  min-height: 100vh;
}


@media screen and (min-width: 768px) {
  .App {
    background-color: #FC8D5C;
    display: flex;
    align-items: center;
  }
}

.add-task__heading-group {
  align-items: center;
  background-color: #EDEDF4;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.add-task__icon {
  background-color: #000000;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  color: #FFFFFF;
  font-size: 2rem;
  padding: 0 10px;
}

.attribution {
  color: #FC8D5C;
  bottom: 15px;
  position: fixed;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
  animation: slideout 900ms ease-out 4s normal both;
}

@media screen and (min-width: 768px) {
  .attribution {
    color: #FFFFFF;
  }
}

@keyframes slideout {
  from {bottom: 15px;}
  to {bottom: -70px}
}

.attribution_link {
  font-weight: 500;
  text-decoration: underline;
}